/*body*/
body {
    margin: 0%;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
    overflow-x: hidden;
}

nav> a {
    text-decoration: none;
}

/*about*/
#about {
    margin-top: 250px;
}

h2 {
    text-align: center;
    color: #616161;
    font-size: 45px;
}

.line {
    background: #232425;
    border: 2px solid #232425;
    margin-left: 47%;
    margin-right: 47%;
    position: relative;
    margin-top:10px;
}

.web-char {
    text-align: center;
    margin-top: 160px;
}
/*
.fast,
.responsive,
.intuitive,
.dynamic {
    width: 23%;
    display: inline-block;
    grid-column: 4;
    column-gap: 15px;
}*/

h3 {
    font-size: 30px;
    color: #383333;
    margin-top: 10;
}

.web-info {
    font-size: 18px;
    color: #616161;
    position: relative;
    bottom: 10px;
}

.my-info,
.my-skills {
    width: 45%;
    display: inline-block;
    grid-column: 2;
    text-align: center;
}

.myPicture {
    border-radius: 10px;
    border: 1px solid #616161;
    margin-top: 75px;
}

.my-info p {
    font-size: 18px;
    color: #616161;
}

.sticky-nav {
    background: #1b242f;
    border-bottom: 3px solid #04c2c9;
    text-align: left;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: start;
    gap: 40px;
    padding: 16px 40px;
}

.sticky-nav a {
    color: #fff;
    font-size: 18px;
    border: 1px solid rgba(255, 255, 255, 0);
}

.sticky-nav a:where(:hover, :focus) {
    color: #e31b6d;
}

#hero {
    background: url('./images/canvas.png');
    text-align: center;
    color: #ffffff;
    padding: 100px 50px;
    font-family: sans-serif;
    min-height: 75vh;
    display: grid;
    place-content: center;
}


#hero h1 {
    font-size: 60px;
    margin: 0;
}

#hero p {
    margin: 35px;
    font-size: 20px;
}

#hero span {
    color: pink;
}

#hero a {
    background: transparent;
    border: 1px solid #fff;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 40px 10px;
    font-size: 100%;
    margin-top: -2%;
}

#hero a:hover {
    background-color: #04c2c9;
    border-color: #04c2c9;
}

.hexagon {
	background-color: #04c2c9;
	display: inline-block;
	position: relative;
	height: 100px;
	width: 100px;
}

.hexagon::before {
	background-color: inherit;
	content: "";
	height: inherit;
	position: absolute;
	right: calc((100% / 2) - ((100% * 0.57735) / 2));
	top: 0;
	transform: rotateZ(60deg);
	width: inherit;
}

.hexagon::after {
	background-color: inherit;
	content: "";
	height: inherit;
	position: absolute;
	right: calc((100% / 2) - ((100% * 0.57735) / 2));
	top: 0;
	transform: rotateZ(-60deg);
	width: inherit;
}

i.fas {
	height: 40px;
	width: 40px;
}
#project{
    display:none;
}
#blog{
    margin-top: 70px;
}
.card{
    width:100%;
    margin-top: 35px;
}

#contact{
    background-color: #2c3238;
    color:#ffffff;
    margin-top: 70px;
}

#contact h2{
    text-align: center;
    padding-top: 100px;
}
#contact p{
    text-align: center;
    color:#04c2c9;
    padding-top: 50px;
}
  
  form {
    margin-top: 40px;
    margin-left: 450px;
    margin-right: 450px;
    height: 60vh;
    color:#fff;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    background-color: #1e242c;
    border: 0;
    color: #fff;
    display: block;
    font-size: 12pt;
    margin-bottom: 3px;
    outline: none;
    padding: 10px 15px;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  textarea {
    margin-bottom: 5px;
    min-height: 150px;
  }
  .button {
    background: transparent;
    color: #fff;
    float: right;
    font-size: 12pt;
    margin: 5px 0 0 0;
    outline: 0;
    padding: 10px 30px;
  }
  .button:hover {
    background: #04c2c9;
  }
  /*FOOTER
  footer {
    background: #1b242f;
    padding: 70px 0 50px 0;
    position: relative;
  }
  */
